//
// Responsive Variable
// --------------------------------------------------

// responsive size
// -------------------------
$sp-max-width ?= 420px
$tablet-max-width ?= 700px


// font size
// -------------------------
$xxx-large ?= 22px
$xx-large ?= 20px
$x-large ?= 18px
$large   ?= 16px
$medium  ?= 14px
$small   ?= 12px
$x-small ?= 11px
$xx-small ?= 10px

// space
@import "../../foundation/__variables_space.styl"

// color
@import "../../foundation/__variables_color.styl"