//
// Background
// --------------------------------------------------

.u-bgc-default
	background-color $bgc-default
.u-bgc-light-gray3
	background-color $bgc-light-gray3
.u-bgc-white
	background-color #ffffff