//
// SP Variable
// --------------------------------------------------

// font size
// -------------------------
$xxx-large ?= 2.2rem
$xx-large ?= 2rem
$x-large ?= 1.8rem
$large   ?= 1.6rem
$medium  ?= 1.4rem
$small   ?= 1.2rem
$x-small ?= 1.1rem
$xx-small ?= 1rem

// space
@import "../../foundation/__variables_space.styl"

// color
@import "../../foundation/__variables_color.styl"