//
// mixin
// --------------------------------------------------

space()
	$prefix = arguments[0] || ''
	
	for $key, $value in $spaces
		// margin
		// -------------------------
		.u-m-{$key}{$prefix}
			margin $value
		
		// margin top
		// -------------------------
		.u-mt-{$key}{$prefix}
			margin-top $value
		
		// margin right
		// -------------------------
		.u-mr-{$key}{$prefix}
			margin-right $value
		
		// margin bottom
		// -------------------------
		.u-mb-{$key}{$prefix}
			margin-bottom $value
		
		// margin left
		// -------------------------
		.u-ml-{$key}{$prefix}
			margin-left $value
		
		// margin right left
		// -------------------------
		.u-mrl-{$key}{$prefix}
			margin-right $value
			margin-left $value
		
		// padding
		// -------------------------
		.u-p-{$key}{$prefix}
			padding $value
		
		// padding top
		// -------------------------
		.u-pt-{$key}{$prefix}
			padding-top $value
		
		// padding right
		// -------------------------
		.u-pr-{$key}{$prefix}
			padding-right $value
		
		// padding bottom
		// -------------------------
		.u-pb-{$key}{$prefix}
			padding-bottom $value
		
		// padding left
		// -------------------------
		.u-pl-{$key}{$prefix}
			padding-left $value
		
		// padding right left
		// -------------------------
		.u-prl-{$key}{$prefix}
			padding-right $value
			padding-left $value