// Variables color
// common-style内での参照用
// -------------------------

$bgc-default ?= #ffffff
$bgc-light-gray ?= #ddd
$bgc-light-gray2 ?= #aaa
$bgc-light-gray3 ?= #f0f0f0
$bgc-white ?= #fff

$bdc-default ?= #ddd
$bdc-light-gray ?= #ddd
$bdc-gray ?= #999
$bdc-dark-gray ?= #666
$bdc-light-gray3 ?= #f0f0f0
$bdc-white ?= #fff

$tc-default ?= #191919
$tc-link ?= #2e85c8
$tc-white ?= #fff
$tc-red ?= #f00

$tc-light-gray ?= #ddd
$tc-light-gray2 ?= #aaa
$tc-light-gray3 ?= #f0f0f0
$tc-gray ?= #999
$tc-darker-gray ?= #888
$tc-dark-gray ?= #666