// Variables space
// -------------------------

$s-xxx-large ?= 60px
$s-xx-large ?= 50px
$s-x-large ?= 40px
$s-large   ?= 30px
$s-medium  ?= 20px
$s-small   ?= 16px
$s-x-small ?= 10px
$s-xx-small ?= 8px

$spaces = ('xxxl' $s-xxx-large)('xxl' $s-xx-large)('xl' $s-x-large)('l' $s-large)('m' $s-medium)('s' $s-small)('xs' $s-x-small)('xxs' $s-xx-small)('none' 0)