//
// mixin
// --------------------------------------------------

arrow()
	content ''
	display inline-block
	size 6px
	margin -4px 0 0
	border-top solid 2px #fff
	border-right @border-top
	transform rotate(45deg)
