// Override nib
// -------------------------

vendor(prop, args, only = null, ignore = null, vendor-property = true)
	{prop}: args
vendor-value(arg, only = null, ignore = null)
	arg
display()
	display arguments
//flex-direction()
//	flex-direction: arguments
//flex-wrap()
//	flex-wrap arguments
//flex-flow()
//	flex-flow arguments
//order()
//	order arguments
//flex-grow()
//	flex-grow arguments
//flex-basis()
//	flex-basis arguments
//flex-shrink()
//	flex-shrink arguments
//flex()
//	flex arguments
opacity()
	opacity arguments